body {
  text-align: center;
  font-family: sans-serif;
}

h1 {
  text-shadow: papayawhip;
  font-size: 300%;
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  text-decoration: underline;
}

h4 {
  color: rgb(65, 152, 65);
  margin: 75px;
}

ul {
  text-align: left;
  list-style-position: inside;
}

ol {
  text-align: left;
  list-style-position: inside;
}


p {
  line-height: 25px;
}

.funnyFont {
  font-family: fantasy;
}

ul {
  font-size: 20px;
  line-height: 25px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.box1 {
  width: 270px;
  border: 10px solid green;
  padding: 15px;
  margin: 20px;
  display:inline-block;
  justify-content: space-evenly;
}

.aboutMe p {
  border: 5px solid rgb(216, 249, 232);
  padding: 5px;
}

.backGround p {
  border: 5px solid rgb(254, 216, 211);
  padding: 5px;
}

.beach img {
  display: inline;
  float:right;
  width: 50%;
  height: auto;
}