body {
  font-family: sans-serif;
}

h1 {
  font-size: 300%;
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  line-height: 20px;
}

ul {
  font-size: 20px;
  line-height: 25px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.box1 {
  width: 270px;
  border: 10px solid green;
  padding: 15px;
  margin: 20px;
}

.box2 {
  width: 270px;
  border: 10px solid green;
  padding: 15px;
  margin: 20px;
}

.aboutMe p {
  border: 5px solid rgb(216, 249, 232);
  padding: 3px;
}

.backGround p {
  border: 5px solid rgb(254, 216, 211);
  padding: 3px;
}